<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/css/header-style.css" rel="stylesheet">
    <link href="/css/footer-style.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top">
            <div class="logo-container">
                <a href="/">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" class="logo">
                </a>
            </div>
            <div class="search-bar-container">
                <input type="text" class="search-bar" placeholder="Buscar productos, marcas y más...">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <h2 class="header-text">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <div class="hamburguer-menu">
            <i class="fa-solid fa-bars"></i>
        </div>

        <nav class="main-nav-bar">
            <ul class="options-nav-bar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="user-nav-bar">
                <li><a href="register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="banner">
            <img src="images/img-home-banner.jpg" alt="Home Banner">
            <div class="banner-button back">
                <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="banner-button forward">
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <h2>Basado en tu ultima visita</h2>
        <section class="products">
            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" alt="Moulinex CoffeMaker">
                <div class="product-info">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="product-price">$6.700</h4>
                    <h4 class="product-offer">40% OFF</h4>
                    <h3 class="product-description">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" alt="Macbook Pro">
                <div class="product-info">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="product-price">$230.000</h4>
                    <h4 class="product-offer">20% OFF</h4>
                    <h3 class="product-description">Macbook Pro 2019</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-info">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="product-price">$70.500</h4>
                    <h4 class="product-offer">10% OFF</h4>
                    <h3 class="product-description">Samsung Galaxy SA10</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">    
                <div class="product-info">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="product-price">$23.200</h4>
                    <h4 class="product-offer">5% OFF</h4>
                    <h3 class="product-description">SmartTv Samsung 43"</h3>
                </div>
                </div>
            </article>
        </section>
        <h2>Ofertas</h2>
        <section class="products">
            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-info">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="product-price">$6.700</h4>
                    <h4 class="product-offer">40% OFF</h4>
                    <h3 class="product-description">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <div class="product-info">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="product-price">$230.000</h4>
                    <h4 class="product-offer">20% OFF</h4>
                    <h3 class="product-description">Macbook Pro 2019</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-info">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="product-price">$70.500</h4>
                    <h4 class="product-offer">10% OFF</h4>
                    <h3 class="product-description">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTV Samsung 43"">
                <div class="product-info">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="product-price">$23.200</h4>
                    <h4 class="product-offer">5% OFF</h4>
                    <h3 class="product-description">SmartTV Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-column">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer-column">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer-column">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <div class="copyright">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>
</html>