<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/css/header-style.css" rel="stylesheet">
    <link href="/css/footer-style.css" rel="stylesheet">
    <link href="/css/form-style.css" rel="stylesheet">
</head>
<body>

    <%- include('./partials/header') %>

    <main>
        <form action="#" method="post">
            <div class="form-container">
                <label for="user-name" class="form-title">Nombre y apellido</label>
                <input type="text" name="user-name" required placeholder="Leo Messi" class="text-input">
            </div>
            <div class="form-container">
                <label for="email" class="form-title">Nombre de usuario</label>
                <input type="email" required placeholder="leomessi10@gmail.com" class="text-input" name="email">
            </div>
            <div class="form-container">
                <label for="birth-date" class="form-title">Fecha de nacimiento</label>
                <input type="date" required class="date-input" name="birth-date">
            </div>
            <div class="form-container">
                <label for="user-direction" class="form-title">Domicilio</label>
                <input type="text" required placeholder="Calle falsa 123" class="text-input" name="user-direction">
            </div>
            <div class="form-container">
                <label class="form-title">Perfil de usuario</label>
                <div class="option-container radio-options">
                    <div class="option">
                        <input type="radio" name="userType" value="comprador">
                        <label for="">Comprador</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="userType" value="vendedor">
                        <label for="">Vendedor</label>
                    </div>
                </div>
            </div>
            <div class="form-container">
                <label class="form-title">Categorías de interés</label>
                <div class="check-container">
                    <div class="option">
                        <input type="checkbox" name="category" value="electro">
                        <label for="">Electro</label>
                    </div>
                    <div class="option">
                        <input type="checkbox" name="category" value="moda">
                        <label for="">Moda</label>
                    </div>
                    <div class="option">
                        <input type="checkbox" name="category" value="hogar">
                        <label for="">Hogar</label>
                    </div>
                    <div class="option">
                        <input type="checkbox" name="category" value="jugueteria">
                        <label for="">Juguetería</label>
                    </div>
                    <div class="option">
                        <input type="checkbox" name="category" value="vidaSana">
                        <label for="">Vida sana</label>
                    </div>
                </div>
            </div>
            <div class="form-container">
                <label class="form-title">Foto de usuario</label>
                <label for="file-input" class="file-label"><i class="fa-solid fa-upload"></i></label>
                <input type="file" class="file-input" id="file-input">
            </div>
            <div class="form-container">
                <label for="user-password" class="form-title">Contraseña</label>
                <input type="password" required maxlength="15" minlength="6" class="text-input" name="user-password">
            </div>
            <div class="form-container">
                <label for="password-plus" class="form-title">Confirmar contraseña</label>
                <input type="password" required maxlength="15" minlength="6" class="text-input" name="password-plus">
            </div>
            <div class="form-container">
                <div class="buttons-container">
                    <input type="reset" value="Borrar" class="form-button">
                    <input type="submit" value="Enviar" class="form-button">
                </div>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>