:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --ligth-blue: #1259c3;
    --dark-gray: #666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --button-blue: #0022AA;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: var(--light-gray);
}

/* FORM */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form-title {
    font-weight: bold;
    margin-bottom: 20px;
}

/* TEXT INPUT */

.text-input {
    border: 0;
    border-radius: 5px;
    height: 30px;
    outline: none;
}

.text-input:hover {
    border: solid 2px var(--dark-gray);
}

.text-input:focus {
    border: solid 2px var(--ligth-blue);
}

/* INPUT */

.option label {
    margin-left: 10px;
    margin-right: 15px;
    font-weight: 400;
}

.option-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.check-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.check-container input, .check-container label {
    margin-bottom: 20px;
}

.radio-options {
    justify-content: flex-start;
}

.option {
    display: flex;
    align-items: center;
}

.date-input {
    border: 0;
    outline: none;
    border-radius: 5px;
    height: 30px;
}

.date-input:focus {
    border: solid 2px var(--ligth-blue);
}

.file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    color: black;
    background-color: var(--ligth-blue);
    border-radius: 150px;
    font-size: 22px;
    color: white;
}

.file-label:hover {
    background-color: var(--button-blue);
    cursor: pointer;
    transition: all 800ms;
}

.file-input {
    display: none;
}

/* FORM-BUTTON */

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.form-button {
    outline: none;
    border: 0;
    background-color: var(--ligth-blue);
    border-radius: 150px;
    color: white;
    width: 100px;
    height: 40px;
    transition: all 800ms;
}

.form-button:hover {
    background-color: var(--button-blue);
    cursor: pointer;
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
    .form-container {
        width: 50%;
    }

    .check-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .form-button {
        width: 200px;
    }
}
